// Colors
$green: #2bd9af;
$pink: #ff5d84;
$gray: #f5f5f5;
$blue: #0e42fd;
$dark: #000;
$light: #fff;

// Border Radius
$borderRadius: 20px;

// Font Weights
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

// Font Sizes
$smallFontSize: 16px;
$mediumFontSize: 20px;
$largeFontSize: 28px;
$extraLargeFontSize: 32px;
